- content_for(:extra_javascript) do
  = javascript_pack_tag('quizzes', defer: true)

%h1= @quiz.name
- if @quiz.unstarted?
  = render 'quizzes/show/unstarted'
- elsif @quiz.active?
  = render 'quizzes/show/active'
- elsif @quiz.closed?
  = render 'quizzes/show/closed'
