%h1= @quiz.name
%div Share this page's URL to invite other participants!

- if @quiz.owner == current_user
  %div You are the owner!
- else
  %div You are NOT the owner.
  - if @quiz.participants.where(id: current_user).exists?
    %div You are participating!
  - else
    %div
      = form_with(url: quiz_quiz_participations_path(@quiz), method: :post, local: true) do |form|
        = form.label(:display_name, 'Your name')
        = form.text_field :display_name
        = form.submit('Join the quiz!')

%div
  %h2 Participants
  %ol
    - @quiz.quiz_participations.each do |participation|
      %li= participation.display_name
