%h1= @quiz.name
- if @quiz.owned_by_current_user?
  You are the quiz owner!
- else
  - if @quiz.current_user_is_participating?
    %div You are participating!
  - else
    %div
      = form_with(url: quiz_quiz_participations_path(@quiz), method: :post) do |form|
        = form.label(:display_name, 'Your name')
        = form.text_field :display_name
        = form.submit('Join the quiz!')

%div
  Share this page's URL to invite
  #{@quiz.owned_by_current_user? ? '' : 'other'}
  participants!


%div
  %h2 Participants
  %ol#quiz_participations
    = turbo_stream_from @quiz
    = render @quiz.quiz_participations
