- content_for(:page_assets) do
  = ts_tag('turbo')

%h1 Upload questions for #{@quiz.name}

%section
  -# `turbo: false` here because otherwise we don't get the necessary bootstrap data
  -# in the quiz show view after submitting this form (Turbo bug?)
  = form_with(url: quiz_question_uploads_path) do |form|
    - if @error_message
      .my-8
        .flash__header--alert Error
        .flash__message--alert= @error_message

    %div= form.label :questions
    %div= form.text_area :questions, size: '60x12'
    .pt-8= form.submit(class: 'btn-primary')

%section
  %h2 Instructions

  %ol
    %li Put each question on its own line
    %li Put each answer on a separate line below the question
    %li Prefix the correct answer with a dash ("#{content_tag(:code, '-')}")
    %li Leave a blank line between each set of questions and answers

  %h3 Example

  %code.whitespace-pre-wrap>
    :preserve
      Which is biggest?
      The earth
      -The sun
      The moon

      Which is currently farther from the sun?
      Neptune
      -Pluto

      Which has the hottest surface temperature?
      Mercury
      -Venus
      Earth
      Mars
