= question.content
- question.answers.includes(:answering_participations).decorate.each_with_index do |answer, index|
  .pl1
    %span{class: answer.is_correct? ? 'bold' : ''} #{(index + 65).chr}. #{answer.content}
    - if answer.answering_participations.any?
      %span{class: answer.is_correct? ? 'green' : 'red'} (#{answer.respondents_list})

- if !@quiz.closed?
  %h3 Leaderboard
  = render partial: 'quiz/leaderboard', locals: { quiz: @quiz }

  - if !@quiz.owned_by_current_user?
    %h3 Progress
    = render partial: 'quiz/progress', locals: { quiz: @quiz }
