- if @quiz.owned_by_current_user?
  = render partial: 'quiz_questions/owner_view', locals: { question: @quiz.current_question }
  = form_with(model: @quiz.current_question) do |form|
    = form.hidden_field(:status, value: QuizQuestion::CLOSED)
    = form.submit('Close question', class: 'btn-primary mt-2')
- else
  = content_tag('turbo-frame', id: 'quiz-question-participant-view') do
    = render(partial: 'quiz_questions/participant_view',
      locals: { question: @quiz.current_question })

.pt-8
  %hr
  %h3 Respondents
  .mb-4{data: { async_partial_src: respondents_quiz_path(@quiz), delay: async_partial_delay_for_rails_env(750) }}
    .spinner--circle
  %hr
  %h3 Leaderboard
  .mb-4{data: { async_partial_src: leaderboard_quiz_path(@quiz), delay: async_partial_delay_for_rails_env(1000) }}
    .spinner--circle
  - if !@quiz.owned_by_current_user?
    %hr
    %h3 Progress
    %div{data: { async_partial_src: progress_quiz_path(@quiz), delay: async_partial_delay_for_rails_env(1250) }}
      .spinner--circle
