- if @quiz.owned_by_current_user?
  = render partial: 'quiz_questions/owner_view', locals: { question: @quiz.current_question }
  = form_with(model: @quiz.current_question) do |form|
    = form.hidden_field(:status, value: QuizQuestion::CLOSED)
    = form.submit('Close question')
- else
  = render partial: 'quiz_questions/participant_view', locals: { question: @quiz.current_question }

.pt2
  %hr
  %h3 Respondents
  = render partial: 'quiz_questions/answerers', locals: { question: QuizQuestion.includes(:answer_selections).find(@quiz.current_question.id) }
  %hr
  %h3 Leaderboard
  .mb2
    = render partial: 'quiz/leaderboard', locals: { quiz: @quiz }
  %hr
  - if !@quiz.owned_by_current_user?
    %h3 Progress
    = render partial: 'quiz/progress', locals: { quiz: @quiz }
