- if @quiz.owned_by_current_user?
  = render partial: 'quiz_questions/owner_view', locals: { question: @quiz.current_question }
  = form_with(model: @quiz.current_question) do |form|
    = form.hidden_field(:status, value: QuizQuestion::CLOSED)
    = form.submit('Close question')
- else
  = content_tag('turbo-frame', id: 'quiz-question-participant-view') do
    = render partial: 'quiz_questions/participant_view', locals: { question: @quiz.current_question }

.pt2
  %hr
  %h3 Respondents
  .mb2{data: { async_partial_src: respondents_quiz_path(@quiz), delay: 750 }}
    [ ... loading respondents ... ]
  %hr
  %h3 Leaderboard
  .mb2{data: { async_partial_src: leaderboard_quiz_path(@quiz), delay: 1000 }}
    [ ... loading leaderboard ... ]
  - if !@quiz.owned_by_current_user?
    %hr
    %h3 Progress
    %div{data: { async_partial_src: progress_quiz_path(@quiz), delay: 1250 }}
      [ ... loading progress ... ]
