.p-8
  %div.my-8
    %h2.h3 Auth tokens (advanced feature; safe to ignore)
    - current_user.auth_tokens.each do |auth_token|
      %div.mt-2
        = form_with(model: auth_token, class: 'inline') do |form|
          %span
            = form.text_field :secret
            = form.label :secret, 'Secret (required)'

          %span.ml-8
            = form.text_field :name
            = form.label :name, 'Name (optional)'

          %span.ml-8
            = form.submit 'Update Auth Token'

        = button_to('Destroy Auth Token', auth_token_path(auth_token),
          method: :delete, form_class: 'inline')

    %div.mt-4
      = button_to('Create New Auth Token', auth_tokens_path(method: :post))
