- content_for(:page_assets) do
  = ts_tag('charts')
  = ts_tag('ci_step_gantt_charts')

%h1= @title

= search_form_for(@ransack_query) do |f|
  .my-2
    %datalist{id: 'branch_names'}
      = options_for_select(@ci_step_results_presenter.branch_names)
    = f.label(:branch_eq, 'Branch')
    = f.text_field(:branch_eq, list: 'branch_names', class: 'py-1 px-2 center min-w-md')

  .my-2
    = f.label(:passed_eq, 'Passed')
    -# https://stackoverflow.com/a/13959977/4009384
    = f.select(:passed_eq, options_for_select([['maybe', nil], ['yes', true], ['no', false]], @ransack_query.passed_eq), {}, class: 'p-1 min-w-25 text-center')

  .my-2
    = f.label(:created_at_gt, 'Run after')
    = f.date_field(:created_at_gt, class: 'p-1')

  .my-2
    %datalist{id: 'ci_step_names'}
      = options_for_select(@ci_step_results_presenter.ci_step_names)
    = f.label(:name_eq, 'Step name')
    = f.text_field(:name_eq, list: 'ci_step_names', class: 'py-1 px-2')

  .my-2
    = f.submit('Apply filter(s)', class: 'btn-primary')

%h2 Run times
= line_chart(@ci_step_results_presenter.run_times_by_step, height: '640px', curve: false)

%h2 Parallelism
= line_chart(@ci_step_results_presenter.parallelism, curve: false, legend: false)

%h2 Gantt charts for most recent runs
- @ci_step_results_presenter.recent_gantt_chart_metadatas.each do |gantt_chart_metadata|
  - github_run_id = gantt_chart_metadata.fetch(:github_run_id)
  - github_run_attempt = gantt_chart_metadata.fetch(:github_run_attempt)
  %div
    - pretty_time = gantt_chart_metadata.fetch(:pretty_start_time)
    - github_link = link_to(gantt_chart_metadata.fetch(:pretty_github_run_info),
        "https://github.com/davidrunger/david_runger/actions/runs/#{github_run_id}/attempts/#{github_run_attempt}")
    - branch = gantt_chart_metadata.fetch(:branch)
    %h3= "#{pretty_time} (#{github_link} on #{content_tag(:code, branch)})"
    .w-full{id: gantt_chart_metadata.fetch(:dom_id)}
