- if @quiz.owned_by_current_user?
  %p<>
    You are the quiz owner!
- else
  - if @quiz.current_user_is_participating?
    %div<>
      You are participating!
  - else
    %div<>
      = form_with(url: quiz_quiz_participations_path(@quiz)) do |form|
        .my-3
          = form.label(:display_name, 'Your name')
          = form.text_field(:display_name, autofocus: true)
        .my-3
          = form.submit('Join the quiz!', class: 'btn-primary')

%p
  Share this link with others whom you want to participate: #{link_to(request.original_url)}.
  %button.btn-primary.copy-to-clipboard{data: {clipboard_text: request.original_url}}
    Copy link to clipboard
</button>

- if @quiz.owned_by_current_user? && @quiz.questions.exists?
  = form_with(model: @quiz) do |form|
    = form.hidden_field(:status, value: 'active')
    = form.submit('Start quiz!', class: 'btn-primary')

%div<>
  %h2 Participants
  %ol#quiz_participations
    = render @quiz.participations

- if @quiz.owned_by_current_user?
  %h2 Questions
  %ol#quiz_questions
    = render @quiz.questions.includes(:answers)
  %div= link_to('Add questions', new_quiz_question_upload_path(@quiz))
