!!! 5
%html{class: browser.chrome? ? 'webp' : ''}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'author', content: 'David Runger'}
    - if @description.present?
      %meta{name: 'description', content: @description}
    %title #{@title.present? ? "#{@title} - " : ''}David Runger
    = csrf_meta_tags
    %script{type: "text/javascript"}
      window.davidrunger = {env: '#{Rails.env}'};
      window.davidrunger.bootstrap = JSON.parse("#{raw(escape_javascript((@bootstrap_data || {}).to_json))}");

    - if Rails.env.development? && !ENV['PRODUCTION_ASSET_CONFIG'].present?
      = javascript_pack_tag('styles', defer: true)
    - else
      %link{rel: "stylesheet", href: asset_pack_path('styles.css')}
    = content_for(:extra_css)
    = content_for(:extra_javascript)

  %body{class: [@body_class, 'sans-serif'].map(&:presence).compact.join(' ')}
    - if notice.present?
      %p.p2.notice= notice
    - if alert.present?
      %p.p2.alert= alert
    = yield
