<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/rollbar' %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title.present? ? "#{@title} - " : '' %>David Runger</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.davidrunger || (window.davidrunger = {})
      window.davidrunger.bootstrap = JSON.parse("<%= raw(escape_javascript((@bootstrap_data || {}).to_json)) %>")
    </script>
    <%= javascript_pack_tag 'application' %>
    <%= content_for :extra_javascript %>
    <% if webpack_dev_server_present? %>
      <%= javascript_pack_tag 'styles' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
