<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.present? ? "#{@title} - " : '' %>David Runger</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript">
      window.davidrunger || (window.davidrunger = {})
      window.davidrunger.bootstrap = JSON.parse("<%= raw(escape_javascript((@bootstrap_data || {}).to_json)) %>")
    </script>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
