<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/rollbar' %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title.present? ? "#{@title} - " : '' %>David Runger</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.davidrunger = {env: '<%= Rails.env %>'};
      window.davidrunger.bootstrap = JSON.parse("<%= raw(escape_javascript((@bootstrap_data || {}).to_json)) %>")
    </script>
    <%= javascript_pack_tag 'application' %>
    <%- if Rails.env.development? %>
      <%= javascript_pack_tag 'styles' %>
    <%- else %>
      <link rel="stylesheet" href="<%= asset_pack_path 'styles.css' %>">
    <%- end%>
    <%= content_for :extra_javascript %>
    <link href="//fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
