!!! 5
%html{lang: 'en', class: html_classes}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, minimum-scale=1'}

    -# title
    - title = "#{@title.present? ? "#{@title} - " : ''}David Runger"
    %title= title
    %meta{name: 'title', content: title}
    %meta{property: 'og:title', content: title}
    %link{rel: 'canonical', href: DavidRunger.canonical_url(request.path)}

    -# other metadata
    -# (note: the curly braces are necessary to avoid a warning about keyword params)
    - if current_page?({ controller: '/home', action: 'index' })
      %meta{name: 'author', content: 'David Runger'}
      %meta{property: 'og:type', content: 'website'}
      %meta{property: 'og:url', content: DavidRunger::CANONICAL_URL}
      %meta{property: 'og:image', content: image_url('david.jpg')}
    - if @description.present?
      %meta{name: 'description', content: @description}
      %meta{property: 'og:description', content: @description}

    -# favicon etc
    %link{rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png'}
    %link{rel: 'manifest', href: '/site.webmanifest'}
    %link{rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#5bbad5'}
    %meta{name: 'msapplication-TileColor', content: '#00aba9'}
    %meta{name: 'theme-color', content: @ios_theme_color || '#ffffff'}

    = csrf_meta_tags
    = window_data_script_tag

    - if Rails.env.development? && !ENV['PRODUCTION_ASSET_CONFIG'].present?
      = vite_client_tag
    = ts_tag('styles')
    = content_for(:extra_css)
    = content_for(:page_assets)

  %body{class: class_names('sans-serif', user_signed_in? ? 'logged-in' : 'logged-out')}
    - if user_signed_in?
      - if admin_user_signed_in? && (current_user.email != current_admin_user.email)
        .text-center.p-2.bg-sky-200
          = link_to('Unbecome', unbecome_admin_user_path(current_user))
          = current_user.email
      = render(partial: 'layouts/logged_in_header')
    - unless render_flash_messages_via_js?
      - if notice.present?
        .m-4
          .flash__header.flash__header--notice Notice
          .flash__message.flash__message--notice= notice
      - if alert.present?
        .m-4
          .flash__header.flash__header--alert Alert
          .flash__message.flash__message--alert= alert
    #container{class: container_classes}
      = yield
