!!! 5
%html{class: browser_support_checker.supports_webp? ? 'webp' : ''}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, minimum-scale=1'}

    -# title
    - title = "#{@title.present? ? "#{@title} - " : ''}David Runger"
    %title= title
    %meta{name: 'title', content: title}
    %meta{property: 'og:title', content: title}

    -# other metadata
    -# (note: the curly braces are necessary to avoid a warning about keyword params)
    - if current_page?({ controller: '/home', action: 'index' })
      %meta{name: 'author', content: 'David Runger'}
      %meta{property: 'og:type', content: 'website'}
      %meta{property: 'og:url', content: 'https://www.davidrunger.com/'}
      %meta{property: 'og:image', content: image_url('david.jpg')}
    - if @description.present?
      %meta{name: 'description', content: @description}
      %meta{property: 'og:description', content: @description}

    = csrf_meta_tags
    %script{type: "text/javascript"}
      window.davidrunger = {env: '#{Rails.env}'};
      window.davidrunger.bootstrap = JSON.parse("#{raw(escape_javascript((@bootstrap_data || {}).to_json))}");

    - if Rails.env.development? && !ENV['PRODUCTION_ASSET_CONFIG'].present?
      - if use_vite?
        = vite_client_tag
      = js_tag('styles')
    - else
      %link{rel: "stylesheet", href: asset_pack_path('styles.css')}
    = content_for(:extra_css)
    = content_for(:extra_javascript)

  %body{class: 'sans-serif'}
    - if user_signed_in? && admin_user_signed_in? && (current_user.email != current_admin_user.email)
      .center.p1.bg-aqua
        = link_to('Unbecome', unbecome_admin_user_path(current_user))
        = current_user.email
    - if notice.present?
      %p.p2.notice= notice
    - if alert.present?
      %p.p2.alert= alert
    #container{class: container_classes}
      = yield
